:root{
    --color:#373b61;
    --delete-background:#ffffff;
    --background-color:#A7D5E5; 
    --background:#EDEFFE;
    --font-weight:500;
    --font-size-p:14px;
    --font-size-button:16px;
    --font-size-label:16px;
    --font-size-heading:25px;
    --font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin:0;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;  
    background-color:var(--background);    
    position:relative;
    font-family:var(--font-family);
}
.main-div{
    width:80%;
    height:600px;
    background-color:var(--background-color);
    display:flex;
    border-radius:8px;
}
.main-div .form-div{
    width:50%;
    height:inherit;
}
.main-div .pic-div{
    width:50%;
    height:inherit;
}
.main-div .pic-div img{
    width:100%;
    height:inherit;
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
}
form{
    width:100%;
    height:inherit;
    display:flex;
    flex-direction: column;
    align-items:center;
    border-radius:8px;
    justify-content:center;
}
form .heading-div,
.select-div,
.user-div,
.password-div,
.submit-div{
    width:50%;
    height:60px;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}
.heading-div{
    width:48% !important;
    align-items:center !important;
}
.submit-div{
    width:40%;
    align-items:center;
    position:relative;
}
.heading-div h3{
    margin:0px 25px 0px 0px;
    font-size:var(--font-size-heading);
    color:var(--color);
    font-weight:var(--font-weight);  
}
.heading-div p{
    margin:0px 25px 0px 0px;
    font-size:var(--font-size-p);
    color:var(--color);
}
label{
    font-size:var(--font-size-label);
    color:var(--color);
    font-weight:var(--font-weight);
}
.select-div select{
    width:90%;
    height:35px;
    box-sizing:border-box;
    border-radius:8px;
    font-size:var(--font-size-p);
    font-weight:var(--font-weight); 
    color:var(--color);
    background-color:var(--delete-background);
    outline:none;
    padding-left:5px;
}
input{
    width:90%;
    height:35px;
    box-sizing:border-box;
    border-radius:8px;
    outline:none;
    border:1px solid var(--color);
    background-color:var(--delete-background);
    color:var(--color);
    font-weight:var(--font-weight);
    padding:0px 10px 0px 10px;
    font-size:var(--font-size-p);
}
::placeholder{
    color:var(--color);
    font-size:13px;
    font-weight:var(--font-weight);
}

.submit-div input{
    width:50%;
    height:35px;
    border-radius:8px;
    outline:none;
    cursor:pointer;
    box-sizing:border-box;
    font-size:16px;
    color:var(--color);
    background-color:var(--delete-background);
    font-weight:bold;
    cursor:pointer;
    position:absolute;
    left:50px;
    top:0px;
}
.submit-div input:hover{
    background-color:var(--color);
    color:var(--background-color);
}
span{
    color:var(--color);
    font-size:var(--font-size-p);
    position:absolute;
    top:40px;
    left:5px;
}
span a{
    color:var(--color);
    font-weight:500;
    font-size:var(--font-size-p);
}
span a:hover{
    color:black;
}
.error-div{
    width:80%;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:0px;
    left: 48%;  
}
.error-div .error{
    font-size:17px;
    color:var(--color);
    text-decoration:underline;
}